@page
@model AquaGuide2.Pages.ParameterBase.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Parameter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Parameter.Name" class="control-label"></label>
                <input asp-for="Parameter.Name" class="form-control" />
                <span asp-validation-for="Parameter.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parameter.Size" class="control-label"></label>
                <input asp-for="Parameter.Size" class="form-control" />
                <span asp-validation-for="Parameter.Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parameter.PH" class="control-label"></label>
                <input asp-for="Parameter.PH" class="form-control" />
                <span asp-validation-for="Parameter.PH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parameter.Type" class="control-label"></label>
                <input asp-for="Parameter.Type" class="form-control" />
                <span asp-validation-for="Parameter.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parameter.TDS" class="control-label"></label>
                <input asp-for="Parameter.TDS" class="form-control" />
                <span asp-validation-for="Parameter.TDS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parameter.KH" class="control-label"></label>
                <input asp-for="Parameter.KH" class="form-control" />
                <span asp-validation-for="Parameter.KH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parameter.GH" class="control-label"></label>
                <input asp-for="Parameter.GH" class="form-control" />
                <span asp-validation-for="Parameter.GH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parameter.Temperature" class="control-label"></label>
                <input asp-for="Parameter.Temperature" class="form-control" />
                <span asp-validation-for="Parameter.Temperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parameter.Description" class="control-label"></label>
                <input asp-for="Parameter.Description" class="form-control" />
                <span asp-validation-for="Parameter.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parameter.Date" class="control-label"></label>
                <input asp-for="Parameter.Date" class="form-control" />
                <span asp-validation-for="Parameter.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
