@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<body style="background-color: black;
             margin-left: 3.5em;
             margin-top: 4.9em;">

    <section class="header1 cid-s48MCQYojq mbr-bg-black bg-dark">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-11">
                    <h1 class="mbr-section-title mbr-fonts-style mb-3 display-2"><strong>You have successfully loged out!</strong></h1>

                    <h1></h1>
                    <div class="mbr-section-btn"><a class="btn btn-success display-3" asp-area="" asp-page="/Index">AquaGuide</a></div>
                </div>
            </div>
    </section>
    <section class="align-right align-content-md-center align-items-center" style="margin-left: 29.5em">
        <img src="https://media.istockphoto.com/photos/fancy-koi-galaxy-betta-fish-picture-id1195423494?k=6&m=1195423494&s=170667a&w=0&h=ga-b_wOsqCn0fhkdJL2GpgbcdHrylaSg8SSWjX3bNaA=" height="640">
    </section>
    </body>
