@page
@model ParametersModel
@{
    ViewData["Title"] = "Informations";
}
<head>
<title>Informations</title>
<link rel="stylesheet" href="~/assets2/tether/tether.min.css">
<link rel="stylesheet" href="~/assets2/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="~/assets2/bootstrap/css/bootstrap-grid.min.css">
<link rel="stylesheet" href="~/assets2/bootstrap/css/bootstrap-reboot.min.css">
<link rel="stylesheet" href="~/assets2/dropdown/css/style.css">
<link rel="stylesheet" href="~/assets2/socicon/css/styles.css">
<link rel="stylesheet" href="~/assets2/theme/css/style.css">
<link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
<link rel="preload" as="style" href="~/assets2/mobirise/css/mbr-additional.css">
<link rel="stylesheet" href="~/assets2/mobirise/css/mbr-additional.css" type="text/css">

</head>

<body>
    <section class="team2 cid-sxjKbUi5J8" id="team2-l">
    <div class="container" style="margin-top:-2em;">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-11">
                    <h1 class="card-title mbr-fonts-style m-0 display-2">You should know this before you start!</h1>


                    <div class="video-wrapper mt-4"><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/nplFdXE2KsY?rel=0&amp;amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=nplFdXE2KsY" width="1280" height="720" frameborder="0" allowfullscreen></iframe></div>
                </div>
            </div>
        </div>
    </section>
    <div style="margin:4em; margin-top:-2em; opacity:0.7S">
        <h4>pH:</h4>
        <p>This measures the acid/alkali nature of the water. The pH is the concentration of hydrogen ions and is logarithmic. This means that a shift of 1 pH unit is actually a ten-fold change: therefore a change of 1 pH unit is a significant change. pH 7.0 is neutral, below 7 is acid, above 7 is alkaline. Test with pH kit or a pH meter two times per week.</p>
        <h4>Temperature:</h4>
        <p>Fish are cold-blooded and need adequate temperatures to function properly. Temperatures outside their normal range make them more susceptible to disease. Check temperature regularly with a thermometer and understand what your specific fish require.</p>
        <h4>General Hardness (GH):</h4>
        <p>his is the measure of the amount of minerals such as calcium and magnesium in the water. Incorrect levels will affect the ability to maintain correct water and salt balance, leading to stress and disease. Test after a water change with a test kit.</p>
        <h4>Nitrogenous Compounds:</h4>
        <p>If left without filtration or water changes, nitrogenous compounds will build up quickly to toxic levels. Ammonia and nitrite are highly toxic, causing severe gill and skin damage as well as neural toxins, particularly when setting up new tanks. Nitrates will build-up in tanks and are removed through water changes and having aquatic plants. Recommended levels: Ammonia – 0ppm, Nitrite 0ppm, Nitrate less than 20ppm. Test ammonia and nitrite at least weekly for new tanks and nitrates monthly, or after a water change.</p>
        <h4>Carbonate Hardness (KH) or Alkalinity:</h4>
        <p>Measure of the buffering capacity in water or the water’s ability to maintain a pH level. The higher the KH, the better water will maintain its pH. This should not be confused with General Hardness. Stable KH is good for maintaining pH, allowing better plant growth and reducing stress on fish. Test: Periodically and only after water change, using a test kit.</p>
        <h4>Salinity and Specific Gravity:</h4>
        <p>Salinity and Specific Gravity are measures of the amount of ‘salts’ in seawater. Salinity is a measure of all the dissolved solids in seawater (98% of which is sodium chloride) measured in parts per thousand (ppt) or grams of ‘salt’ contained in 1 kilogram of seawater. Natural seawater has 35 grams of salt per kilogram of seawater or 35 ppt, whereas distilled water has a salinity of 0ppt. Specific Gravity is an indirect measure of the salinity and refers to the weight of dissolved solids or density in seawater. SG is generally used by hobbyists due to the ease of testing compared to testing for salinity. Test: weekly or after water change.</p>
        <h4>The Nitrogen Cycle:</h4>
        <p>Ammonia is the main waste product from fish or uneaten food that will ‘poison’ fish. Ammonia will damage gills and is a neurotoxin affecting the brain. Special bacteria called nitrifying bacteria are able to manage this waste via a process called Nitrification or the Nitrogen Cycle. It is essential to establish this process in an aquarium to prevent ammonia building up to toxic levels.</p>
        <p>In a newly established aquarium it may take up to a month to establish this cycle and care must be taken during this time to prevent toxic levels of ammonia and nitrite. This can be done by increasing fish stocks slowly, adding nitrifying bacteria or ‘seeded’ filter material to the tank, minimal feeding, frequent water changes, maintaining a pH below 7.0 to detoxify ammonia and testing regularly.</p>
        <h4>Why do water changes?</h4>
        <p>Water changes help reduce chemicals which are harmful to fish (such as nitrates) as well as removing debris (uneaten food and faeces). It also sorts out a lot of problems – when in doubt, perform a partial water change.</p>
        <h4>Important tips:</h4>
        <ul>
            <li>If gravel is used in your tank, use a gravel siphon to remove debris.</li>
            <li>Always use a <a href="https://www.petbarn.com.au/fish/aquarium-health-wellbeing/by/category/conditioners_175/">quality water conditioner</a> in the replacement water – this will help make the water suitable for fish by removing toxic metals, chlorine and chloramine, as well as adding other important minerals.</li>
            <li>Water changes can lower the temperature of your water, which may stress or even kill your fish. Consider pre-heating the water you add.</li>
            <li>The more fish you have in a tank, the more frequently you’ll need to change the water. A good rule of thumb: Change 20% &#8211; 30% of the water every week (more for heavy loads).</li>
            <li>After a water change, always test for pH and GH. Make any changes necessary. You can get your <a href="https://www.petbarn.com.au/fish/aquarium-cleaning-and-maintenance/by/category/test-kits_197/">testing kits</a> online or in store at Petbarn.</li>
        </ul>
    </div>

    <script src="assets/web/assets/jquery/jquery.min.js"></script>
    <script src="assets/popper/popper.min.js"></script>
    <script src="assets/tether/tether.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/smoothscroll/smooth-scroll.js"></script>
    <script src="assets/dropdown/js/nav-dropdown.js"></script>
    <script src="assets/dropdown/js/navbar-dropdown.js"></script>
    <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
    <script src="assets/theme/js/script.js"></script>


</body>